<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/public/assets/css/burger_style.css">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/public/assets/logic.js"></script>
	<title>Burger-the-Burger App</title>
</head>

<body>

	{{{ body }}}
</body>

</html>