<h1>BOIGAHS!</h1>

<container>
  <nav>
      <div id="burgerPhoto"
          href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.foodnetwork.com%2Frecipes%2Ffood-network-kitchen%2Fsmashburger-style-burgers-3721349&psig=AOvVaw0_oqO2uMxLOIOWs2BKz8Tk&ust=1585200143504000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJiT0_DwtOgCFQAAAAAdAAAAABAD";>
      </div>
  </nav>
</container>

<h2>Burgers that are nice and juicy!</h2>

<ul>
  {{#each burger}}
  {{#unless sleepy}}
  {{> cats/cat-block sleep=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been nom'd!</h2>

<ul>
  {{#each burger}}
  {{#if sleepy}}
  {{> cats/cat-block sleep=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devour?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Devoured!<br>
    <input type="radio" name="sleepy" value="0"> Devour!  </div>

  <button type="submit">Add Burger</button>
</form>